askelle
AskElleWeb
fp-practicals-ask-elle
literature
other_stuff
proposal/bundle.md
DataVisualization/img
DataVisualization/data
proofs/*.aux
proofs/*.glob
proofs/*.vo
charts

.Rproj.user
.Rhistory
.vscode
